.trip-list_container, .wish-list_container, .property-list_container, .reservation-list_container {
    min-height: calc(100vh - 20px);
    margin: 20px;
    h1 {
        margin: 40px 50px;
        color: $primary-color-green;
        @include mm {
            text-align: center;
            margin: 40px 25px;
        }
    }
    .trip-list_element, .wish-list_element, .property-list_element, .reservation-list_element {
        padding: 0 100px 120px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
}