$black: #0B0D17;
$white: #FFFFFF;
$green: #32A65A;
$blue: #1E90FF;
$red: #F2330F;
$grey: #bdb9b9;
$lightgrey: #F7F8F8;
$darkgrey: #969393;


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$font-body: 'Nunito', sans-serif;