$black: #0B0D17;
$white: #FFFFFF;
$green: #32A65A;
$blue: #1E90FF;
$red: #F2330F;
$grey: #bdb9b9;
$lightgrey: #F7F8F8;
$darkgrey: #969393;

// Text colors
$text-gray:#18191F;
$text-gray-light:#EEEFF4;

// Monochrome Palette Green
$primary-color-green: #32A65A; // Green Tea
$secondary-color-green-light: #56CC7D; // Fresh Mint
$secondary-color-green-normal: #5FA376; // Lush Meadow
$secondary-color-green-dark: #3EF77C; // Verdant
$accent-color-green-light: #5A7864; // Forest Floor
$accent-color-green-normal: #434D46; // Slate Green
$accent-color-green-dark: #253329; // Evergreen

// Nuance Palette Green
$secondary-color-green-nuance-light: #3CEF77; // Emerald Oasis
$secondary-color-green-nuance-normal: #33CD66; // Spring Foliage
$secondary-color-green-nuance-dark: #3EF77C; // Green Oasis
$accent-color-green-nuance-light: #2BAB55; // Jade Serenity
$accent-color-green-nuance-normal: #228944; // Tranquil Thicket
$accent-color-green-nuance-dark: #1A6733; // Mossy Glade



@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$font-body: 'Nunito', sans-serif;