$black: #0B0D17;
$white: #FFFFFF;
$green: #32A65A;
$blue: #1E90FF;
$red: #F2330F;
$grey: #bdb9b9;
$lightgrey: #F7F8F8;
$darkgrey: #969393;

// Text colors
$text-gray:#18191F;
$text-gray-light:#EEEFF4;

// Couleurs primaires
$primary-color-blue: #2362B0;
$primary-color-blue-light: lighten($primary-color-blue, 15%);
$primary-color-blue-darken: darken($primary-color-blue, 15%);

$primary-color-green: #003E1C;
$primary-color-green-light: lighten($primary-color-green, 15%);
$primary-color-green-darken: darken($primary-color-green, 15%);

$primary-color-grey: #bdb9b9;
$primary-color-grey-light: lighten($primary-color-grey, 10%);
$primary-color-grey-darken: darken($primary-color-grey, 10%);

$secondary-color-yellow: #EB9F04;
$secondary-color-yellow-light: lighten($secondary-color-yellow, 15%);
$secondary-color-yellow-darken: darken($secondary-color-yellow, 15%);


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
$font-body: 'Nunito', sans-serif;